body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6f7ae0, #7a5fc8);
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card h1 {
  margin-bottom: 25px;
}

.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.card button {
  width: 100%;
  padding: 12px;
  background: #6f7ae0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background: #5a63c7;
}


.message {
  margin-top: 12px;
  font-size: 15px;
  text-align: center;
}

.success {
  color: #1f8b24;          /* green */
  font-weight: 600;
}

